body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
}


p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  text-decoration: underline;


  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #3b89ff;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 20px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
// Colors
$black: #000000;
$dark-gray: rgba($black, 0.8);
$gray: rgba($black, 0.6);
$light-gray: rgba($black, 0.4);
$lighter-gray: rgba($black, 0.2);
$white: #FFFFFF;
$accent: #4285F4;

// Form Settings
$max-width: 450px;
$max-height: 600px;
$gutters: 25px;

.form {

  position: relative;
  background: $white;
  width: $max-width;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba($black, .1);
  box-sizing: border-box;
  margin: 100px auto 25px;
  overflow: hidden;
}
  label {
        display: block;
        margin: 10px 5% 10px;
        font-size: 16px;
        line-height: 1;
        .two & {
          color: $white;
        }
      }

      input {
        outline: none;
        display: inline-block;
        background: rgba($black, 0.1);
        width: 90%;
        margin: 0 5% 0;
        border: 0 ;
        box-sizing: border-box;
        padding: 12px  20px;
        color: $gray;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        transition: 0.3s ease;

        &:focus {
          color: $dark-gray;
        }

        .two & {
          color: $white;

          &:focus {
            color: $white;
          }
        }
      }
@media only screen and (max-width:550px){
  .form {
    z-index: 15;
    position: relative;
    background: $white;
    width: 400px;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba($black, .1);
    box-sizing: border-box;
    margin: 100px auto 10px;
    overflow: hidden;
  }
}
@media only screen and (max-width:450px){
  .form {
    z-index: 15;
    position: relative;
    background: $white;
    width: 350px;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba($black, .1);
    box-sizing: border-box;
    margin: 100px auto 10px;
    overflow: hidden;
  }
}
